.player {
    width: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(173, 216, 230, 0.75);
    overflow: hidden;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    img {
        width: 60px;
        height: 62px;
        object-fit: cover;
        opacity: 0.75;
        border-radius: 50%;
    }

    span {
        height: 21px;
        font-size: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 0.75rem;
    }
}

.player-active {
    opacity: unset !important;
    background-color: lightcoral;
}