.player {
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(173, 216, 230, 0.75);
    overflow: hidden;
    padding-top: 0.5rem;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    img {
        width: 55px;
        height: 57px;
        object-fit: cover;
        opacity: 0.75;
        border-radius: 50%;
    }

    span {
        font-size: 14px;

        margin-top: 0.5rem;
        margin-bottom: 1.25rem;
    }
}

.player-active {
    opacity: unset !important;
    background-color: lightcoral;
}